.brand-item {
  display: block;
  height: 1.35rem;
  background: #f4f4f4;
  &:nth-child(odd) {
    margin-right: .05rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .1rem 0 0 .1rem;
    .text {
      font-size: .14rem;
      color: #333;
      margin-bottom: .07rem;
    }
    .icon-new {
      display: block;
      background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/new-5e42f2db1f.png')  no-repeat;
      background-size: 100% 100%;
      width: .4rem;
      height: .21rem;
    }
  }
}